@import "tailwindcss";

@theme {
  --color-gold: #c9a84c;
  --color-gold-light: #e2c76a;
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

::selection {
  background-color: #c9a84c;
  color: black;
}
